@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main1 {
  position: relative;
  /* background-color: blue; */
  text-align: center;
  color: #fff;
  font-size: 40px;
}

section {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: url(bg2.jpg) no-repeat center;
  background-size: cover;
}

.form-box {
  position: relative;
  width: 800px;
  height: 500px;
  /* background-color: gold; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(3px);
}

.btn-area {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 400px;
}
.btn-area button {
  width: 100%;
  height: 150px;
  background-color: #fff;
  color: #0fe1ee;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

/* .login-form h1 {
  font-size: 32px;
  color: #fff;
  text-align: center;
  margin-bottom: 60px;
} */
.int-area {
  width: 400px;
  position: relative;
  margin-top: 120px;
  text-align: center;
}

.int-area input {
  width: 100%;
  padding: 20px 10px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999;
  font-size: 18px;
  color: #fff;
  outline: none;
}
