@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  /* font-family: "Noto Sans KR", sans-serif; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: url(bg2.jpg) no-repeat center;
  background-size: cover;
}

/* .main-box {
  width: 800px;
} */

.main1 {
  position: relative;
  /* background-color: blue; */
  text-align: center;
  color: #fff;
  font-size: 60px;
  /* margin-bottom: 20px; */
}

.form-box {
  /* position: relative; */
  width: 1300px;
  height: 700px;
  display: flex;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  backdrop-filter: blur(4px);
}

.left-box {
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  height: inherit;
  width: 25%;
  /* margin: 0 auto; */
  border-right: 2px solid rgba(255, 255, 255, 0.5);
}

.btn-area {
  margin-top: 30px;
  margin-bottom: 30px;
  /* width: 400px; */
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(20%, 0%);
}
.btn-area button {
  width: 90%;
  height: 130px;
  background-color: #fff;
  color: #0fe1ee;
  font-size: 30px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.percent {
  margin-top: 45px;
  /* width: 400px; */
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(20%, 0%);
}

.percent button {
  width: 120px;
  height: 120px;
  background-color: #fff;
  color: #0fe1ee;
  font-size: 40px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.right-box {
  width: 75%;
  height: inherit;
}

.result {
  width: 100%;
  height: 600px;
  margin-top: 50px;
  z-index: 2;

  /* height: inherit; */
  background: url(result.PNG) no-repeat center;

  background-size: cover;
}
